body {
    text-align: center;
    background-image: url('../images/background.png'); /*background image */
    background-position: center;
    background-size: cover;
}

canvas {
	z-index: 10;
}

/* title and the scoreboard */

.title {
	font-family: 'Luckiest Guy';
	color: #f9e440;
	text-shadow: 5px 4px 6px #0d2244;
	font-size: 170%;
}

h1 {
	margin-bottom: 0px;
}

.board {
	font-family: 'Iceland';
	text-shadow: 0px 2px 3px #0d2244;
	font-size: 230%;
	color: #f9e440;
}

.lives {
	margin-right: 5px;
}

/* Game Over Board */ 

.container {
	position: relative;
	z-index: 10;
}

#hidden {
	font-family: 'Luckiest Guy';
	background: rgba(225,225,225); /*Fall back for older browsers*/
	background: rgba(225,225,225,0.5);
	margin: auto;
	width: 50%;
	border: 1px solid;
	padding: 15px;
	display: none;
	z-index: -1000;
	position: absolute;
	top: 120px;
	margin-left: 23.9%;
}

#game-over {
	color: #f9e440;
	text-shadow: 5px 4px 6px #0d2244;
	font-size: 500%;
}

#play-again {
	color: #f9e440;
	text-shadow: 5px 4px 6px #0d2244;
	font-size: 500%;
	cursor: pointer;

}

#play-again:hover {
	color: black;
	text-shadow: 2px 2px #ff0000;
}
