body {
    text-align: center;
    background-image: url('../images/background.png');
    background-position: center;
    background-size: cover;
}

.title {
	font-family: 'Luckiest Guy';
	color: #f9e440;
	text-shadow: 5px 4px 6px #0d2244;
	font-size: 170%;
}

h1 {
	margin-bottom: 0px;
}

.board {
	font-family: 'Iceland';
	text-shadow: 0px 2px 3px #0d2244;
	font-size: 230%;
	color: #f9e440;
}

.lives {
	margin-right: 5px;
}